.Menu{
    width: 70%;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 5px;
    padding: 0px;
    content: 0px;
    border: 0px;
    margin: 0px;
    position: relative; top: 0px; left: 0px;

}

.Menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    position: relative; left: 20px; 
}

.History:hover{
    transform: translate(5px, 5px);
}
.Types:hover{
    transform: translate(5px, 5px);
}
.Howtotaste:hover{
    transform: translate(5px, 5px);
}
.Contact:hover{
    transform: translate(5px, 5px);
}

.Titulo{
    font-family: 'Libre Baskerville', serif; 
    font-size: 70px; 
    letter-spacing: 5px; 
    text-align: left;
    width: 0%;
    position: relative; top: 50px; left: 35px;
    color: rgb(0, 0, 0);
}

.Ig{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    position: relative; top: 100px; left: 40px;
    color: black;
}

.Descripción{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px; 
    letter-spacing: 1px; 
    line-height: 13px;
    color: rgb(0, 0, 0);
    position: relative; top: 60px; left: 20px;
    text-align: left;
}
    
div{
    border-top-width: 10px;
    border-right-width: 5px;
    border-bottom-width: 10px;
    border-left-width: 5px;
    padding: 10px;
    margin: 10px;
    border: 10px;
}
